@tailwind base;
@tailwind components;
@tailwind utilities;

/* PrimeVue tema özelleştirmeleri buraya gelecek */

:root {
  --color-primary: #f8f4f4; /* app background gray */
  --color-secondary: #ec4899; /* PrimeVue pink-500 */
  --color-tertiary: #000000; /* black */

  /* PrimeVue tema özelleştirmeleri */
  --p-primary-color: #ec4899;
  --p-primary-contrast-color: #ffffff;
}
html {
  font-size: 10px; /* Mobile */
}

@media (min-width: 640px) {
  html {
    font-size: 12px; /* Small screens */
  }
}

@media (min-width: 768px) {
  html {
    font-size: 14px; /* Medium screens and up */
  }
}
@media (min-width: 1080px) {
  html {
    font-size: 16px; /* Medium screens and up */
  }
}

/* Global Calendar Styling */
.p-calendar {
  border: 2px solid var(--color-primary);
  border-radius: 0.375rem;
}

.p-calendar .p-inputtext {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0.375rem;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.p-calendar:focus-within {
  border: 2px solid var(--color-secondary) !important;
}

.p-calendar .p-inputtext:focus {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.calendar-input .p-inputtext::placeholder {
  text-align: left;
  font-size: 8px;
  position: relative;
  top: -10px;
  padding-left: 10px;
  color: black;
}
